<div id="meal-plan-{{ day }}">
    <h3>{{ day|capfirst }}</h3>
    Calories: {{ day_macros.calories }}
    Protein: {{ day_macros.protein }}
    Fat: {{ day_macros.fats }}
    Carbs: {{ day_macros.carbs }}
    <ul id="ingredient-rows-{{ day }}">
        {% for schedule_entry in schedule_entries %}
        <li data-entry-id="{{ schedule_entry.id }}" data-day="{{day}}" {% if not schedule_entry.food_item %} class="entry-error" {% endif %}>
            <span>{% if schedule_entry.food_item %}{{ schedule_entry.food_item.name }}{% endif %} {{ schedule_entry.quantity }}</span>
            <button class="edit-schedule-entry" data-id='{{ schedule_entry.id }}'>✏️</button>
            <button class="edit-food-item" data-id='{{ schedule_entry.food_item.id }}'>👨‍🍳</button>
            <form method="post" action="{% url 'delete_schedule_entry' schedule_entry.id day %}"
                class="delete-schedule-entry-form">
                {% csrf_token %}
                <button type="submit">🗑️</button>
            </form>
            {% with macros=schedule_entry.macro_totals %}
                Calories: {{ macros.calories }}
                Protein: {{ macros.protein }}
                Fat: {{ macros.fat }}
                Carbs: {{ macros.carbs }}
            {% endwith %}
        </li>
        {% endfor %}
    </ul>
    <button class="btn btn-primary" id="create-schedule-entry">
        + Add Food 
    </button>
</div>