{% load format_extras %}
{% if not food_item %}
<div class="form-check form-switch mb-3">
<input class="form-check-input" type="checkbox" id="toggleFormSwitch" >
<label class="form-check-label" for="toggleFormSwitch" id="toggleLabel">Add Ingredient</label>
</div>
{% endif %}
<form 
    method="post" 
    class="create-food-item-form" 
    action="{% if food_item and food_item.id %}{% url action_url_name food_item.id %}{% else %}{% url action_url_name %}{% endif %}" 
    data-type="ingredient">

    <div class="ingredient-controls">
        <input type="number" id="id_quantity" name="quantity" class="{% if form.quantity.errors %} invalid{% endif %}" 
            value="{{ food_item.quantity|smart_float }}" step="0.1" style="width:4em;">
        <select id="id_unit" name="unit" class="form-select unit-select {% if form.unit.errors %} invalid{% endif %}">
            {% for group_label, options in compatible_unit_choices %}
            <optgroup label="{{ group_label }}">
                {% for value, label in options %}
                <option value="{{ value }}" {% if food_item.unit == value %}selected{% endif %}>
                    {{ label }}
                </option>
                {% endfor %}
            </optgroup>
            {% endfor %}
        </select>
        <input type="text" id="id_name" name="name" class="ingredient-name{% if form.name.errors %} invalid{% endif %}" 
            value="{{ food_item.name }}" placeholder="Ingredient name">
    </div>

    <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox" id="id_is_public" name="is_public" {% if food_item.is_public %} checked{% endif %}>
        <label class="form-check-label" for="id_public">Public</label>
    </div>

    <div class="form-group">
        <label for="id_calories">Calories: </label>
        <input type="number" id="id_calories" name="calories" value="{{ food_item.calories|smart_float }}" step="0.1" style="width:4em;">
    </div>

    <div class="form-group">
        <label for="id_protein">Protein: </label>
        <input type="number" id="id_protein" name="protein" value="{{ food_item.protein|smart_float }}" step="0.1" style="width:4em;">
    </div>

    <div class="form-group">
        <label for="id_fats">Fats: </label>
        <input type="number" id="id_fats" name="fats" value="{{ food_item.fats|smart_float }}" step="0.1" style="width:4em;">
    </div>

    <div class="form-group">
        <label for="id_carbs">Carbs: </label>
        <input type="number" id="id_carbs" name="carbs" value="{{ food_item.carbs|smart_float }}" step="0.1" style="width:4em;">
    </div>

    <div class="form-group">
        <label for="id_carbs">Fiber: </label>
        <input type="number" id="id_fiber" name="fiber" value="{{ food_item.fiber|smart_float }}" step="0.1" style="width:4em;">
    </div>

    <div class="form-group">
        <label for="id_aisle">Aisle: </label>
        <select id="id_aisle" name="aisle" class="form-select unit-select {% if form.unit.errors %} invalid{% endif %}">
            {% for value, label in aisles %}
            <option value="{{ value }}" {% if food_item.aisle.0 == value %}selected{% endif %}>
                {{ label }}
            </option>
            {% endfor %}
        </select>
    </div>
    
    <div class="form-action-buttons">
        <button type="submit">Save Ingredient</button>
        <button type="button" data-bs-dismiss="modal">Cancel</button>
    </div>
</form>
