<div class="modal-header">
    <h5 class="modal-title">Add Ingredient</h5>
    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    <form id="ingredientForm" method="post" action="{% url 'create_ingredient_ajax' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </form>
</div>