{% load dict_extras %}
<div id="library">
    <div class="day">
        <h3>Saved Foods</h3>
        <button class="btn btn-primary" id="create-food-item">
            + New Food Item
        </button>
        <ul>
            {% for food_item in food_items %}
            <li>
                <span class="ingredient-name">{{ food_item.name }}</span>
                <button class="edit-food-item" data-id='{{ food_item.id }}'>✏️</button>
                <form method="post" action="{% url 'delete_food_item' food_item.id %}" class="delete-food-item-form">
                    {% csrf_token %}
                    <button type="submit">🗑️</button>
                </form>
                {% with macros=food_item.macro_totals %}
                    Calories: {{ macros.calories }}
                    Protein: {{ macros.protein }}
                    Fats: {{ macros.fats }}
                    Carbs: {{ macros.carbs }}
                {% endwith %}
            </li>
            {% empty %}
            <li>No food added.</li>
            {% endfor %}
        </ul>
    </div>
</div>