<!-- 
## Takes in:
{
  "ingredients": [
    {
      "name": String,
      "quantity": Float,
      "macros": {
        "calories": Float,
        "protein": Float,
        "carbs": Float,
        "fat": Float,
      },
      "compatible_units": [String]
    }
  ],
  "macros": {
    "calories": Float,
    "protein": Float,
    "carbs": Float,
    "fat": Float,
  }
}
-->
{% load format_extras %}
<div id="ingredient-rows">
    <div class="macros">
        <span class="macro-pill">🔥 {{ macros.calories|smart_float }} kcal</span>
        <span class="macro-pill">🍗 {{ macros.protein|smart_float }}g</span>
        <span class="macro-pill">🥑 {{ macros.fats|smart_float }}g</span>
        <span class="macro-pill">🍞 {{ macros.carbs|smart_float }}g</span>
    </div>

    {% for ingredient in ingredients %}
    {% include "piecemeal_app/partials/meal_ingredient_item.html" %}
    {% endfor %}
</div>