<form method="post"
      class="create-schedule-entry-form"
      action="{% if schedule_entry %}{% url action_url_name schedule_entry.id %}{% else %}{% url action_url_name %}{% endif %}">
    <input type="text" class="entry-food-name-input"
        value="{% if schedule_entry.food_item %}{{ schedule_entry.food_item.name }}{% endif %}" autocomplete="off">
    <input type="number" class="entry-quantity-input" value="{{ schedule_entry.quantity }}" autocomplete="off">
    <br>
    {% include "piecemeal_app/partials/schedule_entry_form_macros.html" %}
    <br><br>

    <button type="submit">Save</button>
    <button type="button" data-dismiss="modal">Cancel</button>
</form>